:root{
    --title-color: linear-gradient(90deg, #825430 -97.04%, #EAC0A0 167.91%, #825430 477.64%);
    --text-color: #ECDDCD;
    --white-color: #ffffff;
    --black-color: #000000;
    --font-text: 'Prompt', sans-serif;
    --font-title: 'Playfair Display', serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}