/* header */
.header{
   height:64px;
    width: 100%;
    background: rgba(18, 16, 14, 0.6);
    backdrop-filter: blur(24px);
    position: fixed;
    z-index: 1;
}

.logo{
    height: 117px;
    width: 169px;
    border-radius: 0px;
    background: #28231E;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-nav-bar{
    position: absolute;
    width: 100%;
}

.header-nav-bar-wrap{
    display: flex;
    justify-content: flex-end;
    margin: 23px 23px 23px 0;
}

.header-nav-bar-wrap .header-navbar-list{
    display: flex;
    list-style: none;
}

.header-nav-bar-wrap > ul > li{
  
    display: flex;
}

.header-nav-bar-wrap .header-navbar-list > li > a{
    font-family: var(--font-text);
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
text-align: center;
letter-spacing: 0.3em;
text-transform: uppercase;
color: #BA8E6C;
}
.header-nav-bar-wrap .header-navbar-list > li > div.header-navbar-list-line{
    background: #BA8E6C;
    width: 1px;
    height: 18px;
    margin-left: 11px;
    margin-right: 16px;
}

.header-search{
    margin-right: 27px;
}

.header-search-input{
    display: flex;
   margin-bottom: 8px;
}

.header-search-input  > input{
    background: none;
    border: none;
    padding: 2px 0;
}

.header-search-input  > input::placeholder{
    font-family: var(--font-text);
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
letter-spacing: 0.3em;
text-transform: uppercase;
color: #FFFFFF;

opacity: 0.2;
}

.header-search-line{
    height: 2px;    
    background: #2C2927;
    border-radius: 4px;
}

/* banner */
.banner{
   position: relative;
}

.banner-navbar{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 178px;
}

.banner-navbar-list{
    display: flex;
    padding: 0px;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
}

.banner-navbar-list > li > a{
    font-family: var(--font-text);
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
text-align: center;
letter-spacing: 0.3em;
text-transform: uppercase;
color: var(--text-color);
}

.banner-inner{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 70px;
    text-align: center;
}
.banner-inner-title{
    text-align: center;
}

.banner-inner-title > span:first-child{
    font-family: var(--font-title);
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 115.3%;
text-align: center;
text-transform: uppercase;
background: var(--title-color);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.banner-inner-title > span:last-child{
    font-family: var(--font-title);
    font-style: italic;
    font-weight: 400;
    font-size: 48px;
    line-height: 115.3%;
    text-align: center;
    text-transform: uppercase;
    background: var(--title-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-inner-text {
    width:550px;
    margin: 24px auto;
}

.banner-inner-text > p{
    font-family: var(--font-text);
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
color: var(--text-color)
}

.banner-inner-a{
    display: flex;
    justify-content:center;
    gap: 20px;
    margin-top:26px
}

.more-event{
    width: 150px;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 11px 14px 8px;
gap: 10px;
border-radius: 4px;
border: 1px solid #BA8E6C
}
.more-event > a{
    font-family: var(--font-text);
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
text-align: center;
letter-spacing: 2px;
text-transform: uppercase;
background: var(--title-color);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.detail{
    width: 150px;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 11px 14px 8px;
gap: 10px;
border-radius: 4px;
background: linear-gradient(90deg, #825430 -97.04%, #EAC0A0 167.91%, #825430 477.64%);
}

.detail > a{
    font-family: var(--font-text);
    font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
text-align: center;
letter-spacing: 2px;
text-transform: uppercase;
color: #12100E;
text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
}

.banner-backgroun-image{
    height: 999px;
    background-image: url(../image/Imagebanner-ngk.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

/* about-us */
.content-about{
    padding: 190px 0;
    background: #12100E;
}

.content-about-wrap{
    margin: 30px 0;
   
}
.img-about-1{
   
}

.img-about-2{
    
}